@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.8rem;
	font-weight: 500;
}

p {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: #6e6d7a;
	font-size: 1.6rem;
}

/* FORM */
.form-control {
	padding: 2rem 3rem;
}

.sufee-login .container-fluid{
	padding-left: 0px !important;
}

.box {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../../../images/bg-login.jpg');
}

/* NAVBAR */
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.5rem 10%;
	font-size: 1.4rem;
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header .logo__container {
	margin-right: auto;
}

header .logo__container h1 > a {
	text-decoration: none;
	color: #212529;
}

header .logo__container span {
	color: #fd2c72;
	font-size: 3.2rem;
}

header .logo__container .logo {
	cursor: pointer;
	width: 4rem;
}

header .nav__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header .nav__links .active{
	color: #fd2c72;
}

@media only screen and (max-width: 48em) {
	header .nav__links {
		z-index: 999;
		position: fixed;
		left: -100%;
		top: 5rem;
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		-webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
}

@media only screen and (max-width: 48em) {
	header .nav__links.active {
		left: 0;
	}
}

header .nav__links li {
	display: inline-block;
	padding: 0rem 1.6rem;
	text-align: center;
}

@media only screen and (max-width: 48em) {
	header .nav__links li {
		margin: 2rem 0;
	}
}

header .nav__links li a {
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: #3d3d3d;
	text-decoration: none;
}

header .nav__links li a:hover {
	color: #fd2c72;
}

header .nav__links li .button__primary {
	color: white;
}

header .nav__links li .button__primary:hover {
	color: white;
}

header .hamburger {
	display: none;
	
}

header .hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

header .hamburger.active .bar:nth-child(1) {
	-webkit-transform: translateY(6px) rotate(45deg);
	transform: translateY(6px) rotate(45deg);
}

header .hamburger.active .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 48em) {
	header .hamburger {
		display: block;
	}
}

header .hamburger .bar {
	display: block;
	width: 2.2rem;
	height: 0.2rem;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

/* BUTTON */

.button {
	text-decoration: none;
	display: inline-block;
	border: 0.5px solid #fd2c72;
	padding: 0.8rem 3.2rem;
	border-radius: 0rem;
	transition: 0.3s ease-in-out;
	font-size: 1.6rem;
	margin: 0 0.3em 0.3em 0;
}

.button__primary {
	background-color: #fd2c72;
	color: white;
}

.button__primary:hover {
	background-color: #f11961;
	color: white;
}

.button-guestbook {
	background-color: #fd2c72;
	color: white;
	width: 100%;
}

.button-guestbook:hover {
	background-color: #e92768;
}

.button-guestbook__list {
	border: 1px solid #fd2c72;
	color: #fd2c72;
	width: 100%;
	background-color: white;
}

.button-guestbook__list:hover {
	background-color: #fd2c72;
	color: white;
}

/* FORM GUESTBOOK */
.guestbook-container {
	margin-top: 10rem;
	border-radius: 0.8rem;
	background: #ffffff;
	box-shadow: 0 50px 80px rgba(0, 0, 0, 0.08);
}

.guestbook-form {
	padding: 7rem;
}

.guestbook-welcome {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../../images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.guestbook-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.guestbook-text > h1 {
	font-size: 3.2rem;
	color: rgba(255, 255, 255, 0.924);
}

.guestbook-text > p {
	color: rgb(194, 194, 194);
}

.form-control {
	font-size: 1.6rem;
	color: #6e6d7a;
}

label {
	font-size: 1rem;
}

small {
	font-size: 1.2rem;
}

.modal {
	font-size: 1.6rem;
}

/* ARTICLE SECTION */
.article__section {
	margin-top: 7rem;
}

.article__section .card {
	border: none;
}

.article__image {
	border-radius: 2rem;
}

.article__title {
	font-size: 2rem;
	margin-top: 1.3rem;
}

.article__text {
	font-size: 1.4rem;
	text-align: justify;
}

.article__detail {
	font-size: 1.6rem;
	text-decoration: none;
}

.container-ads {
	height: 100vh;
	width: 100%;
}

.container-ads > .box-text {
	text-align: center;
}

/* FORUM */
.forum__section {
	margin-top: 80px;
}

.forum__section .search__box {
	top: 2rem;
	z-index: 9999;
	margin: 0 auto;
	width: 100%;
	max-width: 67.5rem;
	border-radius: 0.8rem;
	border: 1px solid #dcdcdc;
	background-color: white;
	text-align: center;
}

.forum__section .search__box:hover {
	box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.forum__section .search__box:focus-within {
	box-shadow: 1px 1px 8px 1px #dcdcdc;
	outline: none;
}

.forum__section .search__box .searchbar {
	border: none;
	padding: 10px;
	width: 80%;
	max-width: 600px;
	font-size: 16px;
	outline: none;
}

.forum__section .search__box .icon__search {
	left: 0px;
	position: relative;
	font-size: 1.6rem;
}

.forum__section .card-title {
	font-size: 20px;
}

.forum__section .container-cardforum {
	margin: 20px;
}

.forum__section .cardfooter {
	display: flex;
	flex-wrap: nowrap;
}

.forum__section .cardfooter .items {
	margin-right: 30px;
}

/* FORUM INSERT */
.addforum__section {
	margin-top: 80px;
}

/* DISCUSSION */
.discussion__section {
	margin-top: 80px;
}

.discussion__section .list-items {
	display: flex;
	flex-wrap: nowrap;
}

.discussion__section .list-items .items {
	margin-right: 30px;
}

.discussion__section .comment__section {
	margin-top: 40px;
}

.discussion__section .comment__section .cardfooter {
	display: flex;
	flex-wrap: nowrap;
}

.discussion__section .comment__section .cardfooter .items {
	margin-right: 30px;
}

/* FOOTER */
.footer {
	border-top: 0.1rem solid #e0e0e0;
	padding-top: 8rem;
	margin-top: 80px;
}

.footer__title span {
	color: #fd2c72;
}

.footer .list-group {
	list-style: none;
	margin-left: 5rem;
}

@media only screen and (max-width: 62em) {
	.footer .list-group {
		margin-left: 0;
		margin-top: 3rem;
	}
}

.footer .list-group__item {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: #6e6d7a;
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.footer .box-cprght {
	margin-top: 5rem;
	text-align: left;
}

.footer .box-cprght span {
	color: #212529;
	font-weight: 500;
}

.button__sosialmedia {
	background-color: #212529;
	border: none;
	padding: 0.8rem;
}

/* DATATABLES CUSTOM*/

.page-link {
	color: #e92768;
}

.page-item.active .page-link {
	background-color: #e92768;
	border-color: #e92768;
}

.page-link:hover {
	background-color: #ffa3c265;
	border-color: #e92768;
	color: #e92768;
}

/* MEDIUM DEVICE */
@media (max-width: 991.98px) {
	.guestbook-form {
		padding: 3rem;
	}
}

@media (max-width: 767.98px) {
	.guestbook-text h1,
	.guestbook-text p {
		display: none;
	}

	.container-ads {
		display: none;
	}

	.forum__section .cardfooter {
		flex-wrap: wrap;
	}

	.discussion__section .comment__section .cardfooter {
		flex-wrap: wrap;
	}

	.ads-space {
		display: none;
	}

	.discussion__section .list-items {
		flex-wrap: wrap;
	}
}
